@import 'colors.css';

window#osd {
  border-radius: 999px;
  border: none;
  background: alpha(@surface_container, 0.8);

  #container {
    margin: 16px;
  }

  image,
  label {
    color: @primary;
  }

  progressbar:enabled,
  image:enabled {
    opacity: 0.5;
  }

  progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: @primary;
    border: none;
  }
  trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@surface_container_low, 0.5);
  }
  progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @surface_container_low;
  }
}
